{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block body %}
    <h1>Modifier votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrer votre email ci-dessus afin de recevoir un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-custom">Envoyer</button>
    {{ form_end(requestForm) }}
{% endblock %}
