{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}

<h1>Politique de données personnelles</h1>

<p>

SOCIETE, en tant que responsable de traitement, s’engage à ce que la collecte et le traitement de vos données personnelles soient conformes au « Règlement Général sur la protection des Données Personnelles » (RGPD) et à la « Loi Informatique et Libertés ».

<br>
Par la présente, SOCIETE décrit comment les informations que vous nous transmettez sont utilisées et protégées.
<br>
SOCIETE peut, à tout moment, mettre à jour la présente politique de protection des données personnelles et vous invite à la consulter régulièrement notamment lors des demandes de réservation.

</p>

<p>
* Les données personnelles recueillies
En votre qualité de client de SOCIETE, vous pouvez être amené à communiquer les données suivantes :<br>

    Données d’identification : nom, prénom, adresse postale, adresse électronique, numéro de téléphone<br>
    Données bancaires : numéro de carte bancaire<br>
    Données de navigation : données de localisation déduites de votre adresse IP, témoins de connexions « cookies » techniques, « cookies » tiers et « cookies » analytics<br>
    Informations relatives à votre séjour : dates d’arrivée et de départ, allergies, animaux de compagnie.<br>
<br>
Les informations demandées par SOCIETE signalées sur le site Internet par un astérisque sont obligatoires car indispensables pour traiter vos demandes de réservation ou de contact.
<br>
SOCIETE ne collecte pas de données sensibles telles que des données raciales, ethniques, religieuses, politiques, de santé, d’orientation sexuelle ou d’appartenance à un syndicat.
<br>
SOCIETE ne collecte pas de données personnelles relatives à un mineur sauf si son parent ou son tuteur légal a, au préalable, donné son accord.
<br>
</p>

<p>
* À quel moment vos données personnelles sont-elles collectées ?<br>

SOCIETE collecte vos données lors des étapes suivantes :<br>

    Réservation d’une table<br>
    Inscription au programme de fidélité<br>
    Abonnement à des newsletters<br>
    Envoi des offres promotionnelles<br>
    Navigation sur le site Internet<br>
    Participation à des enquêtes de satisfaction<br>
    Envoi d’un commentaire/question dans la rubrique « nous contacter » du site Internet<br>
    Gestion de vos droits d’accès, de rectification, de suppression, de portabilité et d’opposition de vos données personnelles<br>
    Gestion des situations d’impayés et des contentieux.<br>


Les finalités du traitement de vos données personnelles<br>

SOCIETE collecte vos données personnelles afin de :<br>

    Gérer les réservations des tables<br>
    Établir et conserver des factures<br>
    Gérer le programme de fidélité<br>
    Établir des statistiques, scores commerciaux et reporting<br>
    Suivre et gérer les préférences des clients membres du programme de fidélité<br>
    Répondre aux demandes d’accès, de rectification, de suppression, de modification, de portabilité et d’opposition de vos données personnelles<br>
    Adresser les newsletters et offres promotionnelles<br>
    Gérer les réclamations.<br>
<br>

SOCIETE peut être amenée à faire appel à des sous-traitants pour réaliser d’autres opérations comme :<br>

    Paiement sécurisé<br>
    Logiciels de réservation en cloud, d’emailing et d’envoi de SMS<br>
    Envoi d’email de rappel de panier<br>
    Participation à des enquêtes de satisfaction<br>
    Installation et gestion du système informatique<br>
    Service de chat et rappel en ligne<br>
    Comptabilité<br>
    Gestion des impayés et des contentieux.<br>

<br>
SOCIETE s’engage à ce que ses sous-traitants respectent également le RGPD et la Loi Informatique et Libertés.<br>
</p>

<p>
* La durée de conservation de vos données personnelles<br>
SOCIETE conserve vos données personnelles pour une durée qui n’excède pas la durée nécessaire pour répondre aux finalités précitées, à savoir :<br>

    Suivi du service client : 3 ans à compter de la dernière collecte<br>
    Établissement des statistiques, scores commerciaux et reporting : 3 ans à compter de la dernière collecte<br>

    Suivi et gestion des préférences des clients membres du programme de fidélité : jusqu’à la demande de désabonnement<br>
    Envoi des newsletters et des offres promotionnelles : jusqu’à la demande de désabonnement<br>
    Participation à des enquêtes de satisfaction : 3 ans à compter de la dernière collecte<br>
    Vidéosurveillance : 1 mois à compter de la dernière collecte<br>
    Cookies et indicateurs de connexion : 13 mois à compter de la dernière collecte<br>
    Numéros de cartes de crédit : 13 mois à compter de la dernière collecte<br>
    Conservation des factures : 10 ans à compter de la dernière collecte<br>
    Gestion des impayés et des contentieux : 10 ans à compter de la dernière collecte.<br>

À l’issue de ces délais, SOCIETE s’engage à détruire de façon sécurisée les données papier ou électronique.  <br>

La sécurité de vos données personnelles<br>
SOCIETE prend quotidiennement les mesures techniques et organisationnelles appropriées pour protéger vos données personnelles contre la destruction illicite ou accidentelle, la perte ou l’altération accidentelle, la divulgation ou l’accès non autorisé.
<br>
Transfert de vos données personnelles<br>
SOCIETE peut être amenée à transférer vos données personnelles dans des pays situés hors de l’Union Européenne (notamment et sans que cette liste ne soit exhaustive aux États-Unis) offrant des niveaux de protection des données personnelles non équivalents au niveau de la protection des données personnelles au sein de l’Union Européenne. Dans ce cas, SOCIETE met en place de garanties suffisantes pour assurer une protection de vos données personnelles.
<br>
</p>

<p>
* Cookies<br>
Lorsque vous consultez notre site Internet, des informations relatives à votre navigation peuvent être enregistrées sous forme de « cookies » sur votre terminal et ce en fonction de vos propres réglages.
<br>
SOCIETE utilise des cookies dits « techniques », « tiers » et « analytics » employés à des fins de marketing. Ces cookies permettent de réaliser des analyses et mesures d’audience, de fréquentation et de navigation ainsi que de définir des services et offres adaptés à vos centres d’intérêt. À ce titre, des informations personnelles des visiteurs peuvent être exploitées.
<br>
</p>

<p>
* Accès et modification<br>
Conformément au RGPD et à la Loi Informatique et Libertés, vous pouvez contacter SOCIETE à tout moment pour exercer vos droits d’accès, de rectification, à l’oubli, d’opposition, de portabilité, de suppression et de retrait de votre consentement sur les données personnelles vous concernant, par email (contact@espritdefrance.com) ou à l’adresse postale suivante :
<br>
SOCIETE<br>
À l’attention du Service Client<br>
24 rue bidule<br>
75008 PARIS<br>
<br>

Un justificatif d’identité doit être joint à votre demande afin que nous puissions vous identifier.<br>

</p>
{% endblock %}
