{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

<h1>MENTIONS LEGALES ET CONDITIONS GÉNÉRALES D’UTILISATION DE NOTRE SITE INTERNET</h1>

<p>
Réglementées par la Loi N° 2004-575 du 21 juin 2004 « pour la confiance dans l’économie numérique » et par la Loi « Informatique et Libertés » du 6 janvier 1978 modifiée.
</p>

<p>
<h3>CREATION</h3>
<span>

Le site sandrinecoupart-diet.ellipseservices13.fr est créé par : <br>

Société : Société <br>

Adresse : Adresse <br>

Téléphone : Téléphone <br>

SIRET : SIRET <br>

N° de TVA Intracommunautaire :  <br>

Forme juridique : Société par action simplifiée <br>

Code APE : 7311Z <br>

Capital social : 5.000€ <br>

</span>

<h3>ÉDITION</h3>

<span>
Le site sandrinecoupart-diet.ellipseservices13.fr est édité par :<br>

SOCIETE<br>

615, Rue Rivoli<br>
75008 PARIS FRANCE<br>
Téléphone : Téléphone<br>
RCS Paris <br>
Capital social : <br>
TVA : <br>
Directeur de la publication : <br>



Sandrine Coupart - Dietéticienne SIRET 59162043000011<br>

Rue du Lavoir, 14000 CAEN<br>


</span>

<h3>HÉBERGEMENT</h3>

<span>IONOS</span>


<h3>RÉALISATION</h3>

<span>Aurélie GUICHARDON</span>

<h3>RESPONSABILITÉ</h3>

<span>
SOCIETE s’efforce d’assurer au mieux de ses possibilités l’exactitude et la mise à jour des informations diffusées sur ces sites, dont elle se réserve le droit de corriger à tout moment et sans préavis le contenu. <br>

En conséquence, SOCIETE décline toute responsabilité : pour toute imprécision, inexactitude ou omission portant sur des informations disponibles sur le site, pour tout dommage résultant d’une intrusion frauduleuse d’un tiers ayant entrainé une modification des informations mises à la disposition sur le site, et plus généralement pour tout dommage, direct ou indirect, qu’elles qu’en soient les causes, origines, nature ou conséquences, provoqué à raison de l’accès de quiconque au site ou de l’impossibilité d’y accéder, de même que l’utilisation du site et/ou du crédit accordé à une quelconque information provenant directement ou indirectement de ce dernier.<br>

Les liens hypertextes présents sur les sites orientant les utilisateurs vers d’autres sites Internet n’engagent pas la responsabilité de SOCIETE quant au contenu de ces sites.<br>

Toute personne physique ou morale souhaitant que soit établi un lien à partir des sites SOCIETE.com, sandrinecoupart-diet.ellipseservices13.fr, doit préalablement en demander l’autorisation.<br>

L’établissement de liens vers ces sites ne requiert pas d’autorisation. SOCIETE dégage toute responsabilité dans ce cas.<br>
</span>

<h3>TRAITEMENT DES DONNÉES PERSONNELLES</h3>

<span>
Lire notre politique de protection des données personnelles<br>

Les informations que SOCIETE sera amenée à recueillir proviennent de l’enregistrement volontaire d’une adresse courriel fournie par l’internaute, lui permettant de recevoir une documentation, de se renseigner sur un point quelconque, de réserver un service en ligne. Elles permettent d’élaborer des statistiques des sites Internet. Elles constituent le fichier « Clients » de SOCIETE , pour l’accomplissement d’opérations relatives à la gestion et à la prospection des clients.<br>

Conformément à la Loi « Informatique et Libertés » et à la déclaration faite par SOCIETE sous le N° 123456 auprès de la C.N.I.L., ces informations ne seront ni vendues ni communiquées à des tiers. Elles sont réservées à l’usage d’SOCIETE , et seule la société D-abcd, gestionnaire du logiciel de réservation en ligne, en est informée dans l’unique finalité de procéder aux réservations en ligne.<br>

Toute personne peut obtenir communication et, le cas échéant, rectification ou suppression des informations la concernant, en remplissant le formulaire de contact.<br>

Les données personnelles collectées sur le site (adresse e-mail pour l’inscription à la newsletter et informations nécessaires à la création d’un compte auteur : Nom, Prénom et Adresse e-mail) sont exemptées de déclaration auprès de la C.N.I.L. et ce conformément à la Dispense N° 7 – Délibération N° 2006-138 du 9 mai 2006 décidant de la dispense de déclaration des traitements constitués par une association à des fins d’information ou de communication externe. Conformément à la loi N° 78-17 dite « Informatique et Libertés » du 6 janvier 1978 modifiée, tout utilisateur dispose d’un droit d’accès, de rectification, de modification, d’opposition et de suppression de ses données personnelles. Il peut exercer ses droits, à tout moment soit via son espace privé sur le site, soit dans le cas de l’abonnement à la newsletter via le lien “se désinscrire” figurant sur chaque newsletter, ou de manière générale en contactant l’adresse e-mail suivante :<br>


Fichiers temporaires<br>

Des fichiers informatiques – cookies – sont stockés de manière temporaire sur votre ordinateur lors de la connexion afin de permettre l’accès à des fonctionnalités et faciliter la navigation. Vous pouvez désactiver la conservation de ces fichiers en modifiant les paramètres de votre navigateur Internet.<br>

</span>

<h3>DROITS D’AUTEUR</h3>

<span>
L’ensemble de ces sites relève de la législation française et européenne sur le droit d’auteur et propriété intellectuelle.<br>

Sauf mention contraire, les droits de propriété intellectuelle sur les documents contenus dans le site et chacun des éléments créés pour ce site dont les crédits photographiques, sont la propriété exclusive de SOCIETE , des sociétés qu’elle préside, ou de ses fournisseurs, ceux-ci ne concédant aucune licence, ni aucun droit autre que celui de consulter les sites.<br>

Toute représentation, reproduction, modification, utilisation commerciale, traduction, adaptation, arrangement ou transformation, ainsi que tout transfert vers un autre site sont interdits, sauf autorisation à demander par courrier à l’adresse de l’éditeur indiquée plus haut. Seule une utilisation à des fins strictement personnelles est autorisée.<br>

Toutes les marques citées dans ces sites appartiennent à leurs sociétés respectives. Tous les produits, logos, et images cités dans les pages de ce site sont la propriété de leur marque respective.<br>

</span>

<h3>CONDITIONS GÉNÉRALES DE VENTE</h3>

<span>
Elles sont accessibles au visiteur au cours des étapes de la réservation en ligne.
</span>

<h3>LITIGE</h3>

<span>
En cas de litige entre le professionnel et le consommateur, ceux-ci s’efforceront de trouver une solution amiable.<br>

A défaut d’accord amiable et conformément à l'article L. 612-1 du Code de la consommation , le consommateur, sous réserve de l’article L.612.2 du même Code, a la faculté d’introduire une demande de résolution amiable par voie de médiation, dans un délai inférieur à un an à compter de sa réclamation écrite auprès du professionnel.<br>

Cet établissement a désigné, par adhésion enregistrée sous le numéro 123456/VA/3302 la SAS  comme entité de médiation de la consommation.<br>

La saisine du médiateur de la consommation devra s’effectuer :<br>

-      Soit par écrit à : Adresse<br>

-      Soit par mail à : contact@sas-conso.fr<br>


Quel que soit le moyen de saisine utilisé, la demande doit impérativement contenir :<br>

-      Les coordonnées postales, téléphoniques et électroniques du demandeur,<br>

-      Le nom et l’adresse et le numéro d’enregistrement chez Sas SAS, du professionnel concerné,<br>

-      Un exposé succinct des faits. Le consommateur précisera au médiateur ce qu’il attend de cette médiation et pourquoi,<br>

-      Copie de la réclamation préalable,<br>

-      Tous documents permettant l’instruction de la demande (bon de commande, facture, justificatif de paiement, etc.)<br>

</span>
</p>

{% endblock %}
