{% extends 'base.html.twig' %}

{% block title %}Admin - Modifier allergies{% endblock %}

{% block body %}
<main class="container">
<h1>Modification d'une allergie</h1>
        <section>
                <a href="{{ path('admin_allergy_list') }}" type="button" class="btn btn-custom my-3">Retour</a>
        </section>
        {{ form_start(form)}}

        {{ form_row(form.name) }}
        <section>
                <button type="submit" class="btn btn-custom my-3">Modifier</button>
        </section>
        {{ form_end(form)}}
</main>


{% endblock %}
